<%= image_tag("banner.png", class: "banner") %>
<div class="navbar navbar-inner">
    <nav>
        <ul class="nav">
        	<li><%= link_to "HOME", root_path %></li>
        	<li><%= link_to "PRACTICE INFORMATION", '#' %></li>
        	<li><%= link_to "STAFF", '#' %></li>
        	<li><%= link_to "INSURANCE", '#' %></li>
        	<li><%= link_to "QUESTIONS", '#' %></li>
        	<li><%= link_to "FORMS", '#' %></li>
        </ul>
    </nav>
</div>